$primary-color-dark : #D0021B;
$primary-color-light : #ffff;

$primary-text-color : #666666;

//break points
$screen-xs: 40.62em; //650px
$screen-sm: 56.25em; //900px
$screen-md: 64em; //1024px
$screen-lg: 75em; //1024px
$screen-xl: 120em; //1600px