.contact{
    grid-row: 8 / 9;
    grid-column: center-start / center-end;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media screen and (max-width: $screen-sm) {
        grid-row: 9/10;
     }
}