.fa-instagram{
    &:hover{
        color: #B51D75;
        transform: scale(1.4);
    }
}
.fa-telegram{
    &:hover{
        color: #2496D1;
        transform: scale(1.4);
    }
}
.fa-facebook{
    &:hover{
        color: #4867AA;
        transform: scale(1.4);
    }
}
.fa-twitter{
    &:hover{
        color: #1DA1F2;
        transform: scale(1.4);
    }
}