.story{
    grid-row: 5 / 6;
    grid-column: center-start / center-end;
    display: grid;
    @media screen and (max-width: $screen-sm) {
        grid-row: 6 / 7;
    }
    &-left{
        grid-row: 1 / -1;
        align-self: center;
        @media screen and (max-width: $screen-xs) {
            grid-column: 1 / -1;
            z-index: 10;
            justify-self: center;
            text-align: center;
         }
    }
    &-right{
        grid-row: 1 / -1;
        justify-self: end;
        width: 85%;
        @media screen and (max-width: $screen-xs) {
            grid-column: 1 / -1;
            justify-self: center;
         }
        & .image{
            width: 100%;
            max-height: 18rem;
            border-radius: .8rem;
            box-shadow: .8rem .8rem $primary-color-dark;
        }
    }

}