*, *::after, *::before{
    padding: 0;
    margin: 0;
}
html{

}
body{
    font-family: 'Poppins' !important;
    font-size: 62.5%;
    background-color: #FFFFFF;
    @media screen and (min-width: $screen-xl) {
        font-size: 100% ;
    }
    @media screen and (max-width: $screen-lg) {
        font-size: 60% !important;
    }
    @media screen and (max-width: $screen-md) {
        font-size: 50% !important;
    }
    @media screen and (max-width: $screen-sm) {
        font-size: 40% !important;
    }
    @media screen and (max-width: $screen-xs) {
        font-size: 40% !important;
    }
 }

