.heading-1{
    font-size: 3rem;
    font-weight: 1000;
    color: $primary-color-dark;
    @media screen and (max-width: $screen-md) {
     font-size: 2.8rem;
    }
    @media screen and (max-width: $screen-sm) {
        font-size: 2.5rem;
       }
    }
.heading-2{
font-size: 2rem;
@media screen and (max-width: $screen-md) {
    font-size: 1.8rem;
}
@media screen and (max-width: $screen-sm) {
    font-size: 1.5rem;
   }
}
.heading-3{
    font-size: 1.5rem;
    @media screen and (max-width: $screen-md) {
        font-size: 1.3rem;
    }
    @media screen and (max-width: $screen-sm) {
        font-size: 1.1rem;
       }
    }
.heading-4{
        font-size: .8rem;
        font-weight: bold;
        @media screen and (max-width: $screen-md) {
            font-size: .65rem;
           }
        }
p{
   color: $primary-text-color;
   //font-size: 1rem;
}
.mb-sm{
    margin-bottom: 1rem;
}
.my-sm{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.mb-md{
    margin-bottom: 1.5rem;
    @media screen and (max-width: $screen-md) {
        margin-bottom: 1.2rem;
    }
    @media screen and (max-width: $screen-sm) {
        margin-bottom: 1rem;
       }
}
.my-md{
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    @media screen and (max-width: $screen-md) {
        margin-bottom: 1.2rem;
    margin-top: 1.2rem;
    }
    @media screen and (max-width: $screen-sm) {
        margin-bottom: 1rem;
    margin-top: 1rem;
       }
}
.mb-lg{
    margin-bottom: 2rem;
    @media screen and (max-width: $screen-md) {
        margin-bottom: 1.8rem;
    }
    @media screen and (max-width: $screen-sm) {
        margin-bottom: 1.5rem;
       }
}
.my-lg{
    margin-bottom: 2rem;
    margin-top: 2rem;
    @media screen and (max-width: $screen-md) {
        margin-bottom: 1.8rem;
    margin-top: 1.8rem;
    }
    @media screen and (max-width: $screen-sm) {
        margin-bottom: 1.5rem;
    margin-top: 1.5rem;
       }
}